
body, div, p, h1, h2, h3, h4, h5, h6, ol, ul, dl, li, dt, dd, form, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bec5ad;
}

html {
    height: 100%;
}

body {
    font-family:
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Hiragino Sans GB",
        sans-serif;
    font-size: 16px;
    height: 100%;
}

img { border: none; }
a {
    text-decoration: none;
    color: #000;
}
li { list-style: none; }
.cf { *zoom: 1; }
.cf:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 600px;
    margin: 30px auto -40px;
    min-height:100%;
    
}

@media screen and (max-width: 640px) {
    .container {
        width: 95%;
    }
}

input[type="text"] {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    box-shadow: inset 1px 1px 1px #aaa;
    padding: 3px 5px;
    font-size: 1em;
    outline: none;
    margin: 10px 0;
}

ul label {
    height: 30px;
    line-height: 30px;
    padding: 3px 5px;
    display: inline-block;
}

ul input[type="text"] {
    display: none;
}


ul label, ul input[type="text"] {
    width: 450px;
}

@media screen and (max-width: 640px) {
    input[type="text"] {
        width: 80%;
        margin: 0;
    }

    ul label, ul input[type="text"] {
        width: 60%;
    }
}

.edit input[type="text"] {
    display: inline;
}

.edit label {
    display: none;
}

#done-list label {
    text-decoration: line-through;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -15px 10px -12px rgba(0,0,0,.05);
    padding: 12px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 3px;
}

input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 1px 3px rgba(0,0,0,.1);
}

input[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

input[type="checkbox"]:after {
    content: "";
}


input[type="checkbox"]:checked:after {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: 6px;
    color: #99a1a7;
}

.btn {
    width: 60px;
    height: 30px;
    font-size: 1.3em;
    padding-left: 10px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    background-color:#a4b494;
}

#to-do-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

#add-btn {
    font-size: 30px;
    vertical-align: middle;
}

.push,
#footer {
    height: 40px;
    clear:both;
}

.push {
    margin-top: 50px;
}

#footer {
    text-align: center;
    line-height: 40px;
}

#footer a {
    text-decoration: underline;
}

#msg {
    width: 300px;
    position: absolute;
    background-color: #519872;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}